.wrapper {
  display: flex;
  align-items: center;
  margin: 0 2rem 2rem;
  background-color: var(--gray-100);
  border-radius: 12px;
  transition: opacity .25s ease;

  &[data-done="true"] {
    opacity: .25;
  }
}

.item, .delete {
  transition: box-shadow .25s ease;

  &:focus {
    box-shadow: 0 0 0 3px var(--gray-500);
  }
}

.item {
  position: relative;
  flex-grow: 1;
  padding: 1rem 1.5rem;
  border-radius: 12px 0 0 12px;
  text-align: start;

  &:focus > .icon {
    color: var(--grey-500);
  }

  & > .icon {
    position: absolute;
    left: 1rem;
    top: -1rem;
    color: var(--grey-300);
  }
}

.delete {
  border-radius: 0 12px 12px 0;

  & > .icon {
    margin: 1rem 1.5rem;
  }
}
