.wrapper {
  display: flex;
  align-items: center;
}

.item {
  position: relative;
  flex-grow: 1;
  margin: 0 2rem 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--gray-100);
  border-radius: 12px;
  text-align: start;
  transition: opacity .25s ease, box-shadow .25s ease;

  &[data-done="true"] {
    opacity: .25;
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--gray-500);

    & > .icon {
      color: var(--grey-500);
    }
  }
}

.icon {
  position: absolute;
  left: 1rem;
  top: -1rem;
  color: var(--grey-300);
  transition: color .25s ease;
}
